
main {
  display: flex;
  flex-flow: column;

  width: 100vw;
  height: 100vh;

  background-color: white;

  section {
    background-color: $color-aqua-squeeze;
    flex-grow: 1;
    margin: $main-padding $main-padding 0 $main-padding;
  }
}
