
main {
  display: flex;
  flex-flow: column;

  width: 100vw;
  height: 100vh;

  background-color: white;

  &> section {
    display: flex;
    flex-grow: 1;
    background-color: $color-aqua-squeeze;

    margin: $main-padding $main-padding 0 $main-padding;

    &> section {
      width: 100%;
      margin-right: 8%;
    }

    div {
      &.nav-container {
        height: 15%;
        width: 100%;
      }

      &.content-container {
        height: 70%;
        width: 100%;
      }

      &.logo-container {
        * {
          margin: 0 2em 0 2em;
        }
      }
    }
  }
}
