
main {
  display: flex;
  flex-flow: column;

  width: 100vw;
  height: 100vh;

  background-color: white;

  section {
    display: flex;
    flex-grow: 1;
    background-color: $color-aqua-squeeze;

    margin: $main-padding $main-padding 0 $main-padding;

    div {
      &.content-container {
        width: 100%;
      }

      &.logo-container {
        height: 100%;

        * {
          margin: 0 2em 0 2em;
        }
      }
    }
  }
}
