
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

.logo {
  font-family: 'Esperanto Italic';
  font-size: 1.5em;
}

.drink-card__text {
  color: white;
  font-size: $drink-card-size/7;
  font-weight: bold;
  line-height: 2em;
}
