

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &__elem {
    display: inline-block;

    cursor: pointer;
    color: $color-silver-chalice;

    &:hover {
      text-shadow: 2px 2px 2px $color-periwinkle-gray;
    }

    &active {
      position: relative;
      padding-bottom: 0.3em;
      color: black;

      &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 80%;
        border-bottom: 1px solid;
      }
    }
  }
}
