
@mixin short-underline($width) {
  position: relative;
  padding-bottom: 0.3em;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: $width;
    border-bottom: 1px solid;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  padding-right: 5px;

  &__elem {
    display: inline-block;

    cursor: pointer;
    color: $color-silver-chalice;

    &:hover {
      @include short-underline(80%);
    }

    &--active {
      @include short-underline(80%);
      color: black;
    }
  }
}
